
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
color: #fff; /* <—– change your color here*/
}
.nav-item .nav-link > .active > a:hover{
	color: #fff;
}
.right{
	position: absolute;
    right: 0px;
    padding: 10px;
}

.navbar-brand {
    padding-left: 5px;
    font-weight: 500;
    letter-spacing: 2px;
}

.navbar {
    position: fixed; /* Set the navbar to fixed position */
    width: 100%; /* Full width */
    height: 51px;
    position: fixed;
    z-index: 1000;
}

@media(max-width:1023px) {
  #navbarButton {
    display: none;
  }

}
@media(min-width:1024px) {

  #navbarDropdown {
  	display: none;	
  }

 }

