.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
/*    width: 100%;  Set the width of the sidebar 
*/    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
/*    top: 0;  Stay at the top 
    left: 0;*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.font-bold {
	font-weight: 500 !important;
	font-size: 1.5rem !important;
}

.text-middle {
	text-align: middle;
}
.pad-left{
	padding-left: 10px;
}