.logo {
  height: 32px;
  background: rgba(255, 255, 255, .2);
  margin: 16px;
}

.header{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 50px 0 rgba(0, 0, 0, 0.19);
}

.c1 {
  background-color: #222222 !important ;
  color: #ffffff !important;
}

.c2{
  background-color:  #2BD1A3 !important ;
  color: #ffffff !important;
}
body{
  font-family: 'Roboto' !important;
  font-weight: 300;
}
.c2opa{
  background-color:  rgba(26, 179, 148, .2) !important ;
}
body {
    height: 100%;
    width: 100%;
    position: absolute;
}
.navbar-brand{
  padding-left: 20px;
}
.postag{
  background-color:rgba(46, 125, 179, 0.7);
}
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.DTM_B{
background-color:rgba(238,64,53,0.99);
}
.DTM_I{
background-color:rgba(238,64,53,0.7);
}
.DES_B{
background-color:rgba(243,119,54,0.99);
}
.DES_I{
background-color:rgba(243,119,54,0.7);
}
.TTL_B{
background-color:rgba(253,244,152,0.99);
}
.TTL_I{
background-color:rgba(253,244,152,0.7);
}
.BRN_B{
background-color:rgba(123,192,67,0.99);
}
.BRN_I{
background-color:rgba(123,192,67,0.7);
}
.PER_B{
background-color:rgba(3,146,207,0.99);
}
.PER_I{
background-color:rgba(3,146,207,0.7);
}
.MEA_B{
background-color:rgba(19,126,168,0.99);
}
.MEA_I{
background-color:rgba(19,126,168,0.7);
}
.NUM_B{
background-color:rgba(252,74,20,0.99);
}
.NUM_I{
background-color:rgba(252,74,20,0.7);
}
.LOC_B{
background-color:rgba(0,120,73,0.99);
}
.LOC_I{
background-color:rgba(0,120,73,0.7);
}
.TRM_B{
background-color:rgba(1,149,131,0.99);
}
.TRM_I{
background-color:rgba(1,149,131,0.99);
}
.ORG_B{
background-color:rgba(229,54,109,0.99);
}
.ORG_I{
background-color:rgba(229,54,109,0.7);
}
.ABB_ORG_B{
background-color:rgba(64,224,208,0.99);
}
.ABB_ORG_I{
background-color:rgba(64,224,208,0.7);
}
.ABB_LOC_B{
background-color:rgba(124,59,124,0.99)
}
.ABB_LOC_I{
background-color:rgba(124,59,124,0.7)
}
.ABB_DES_B{
background-color:rgba(219,227,88,0.99);
}
.ABB_DES_I{
background-color:rgba(219,227,88,0.7);
}
.ABB_PER_B{
background-color:rgba(255,214,214,0.99);
}
.ABB_PER_I{
background-color:rgba(255,214,214,0.7);
}
.ABB_TTL_B{
background-color:rgba(255,206,0,0.99);
}
.ABB_TTL_I{
background-color:rgba(255,206,0,0.7);
}
.ABB_B{
background-color:rgba(255,165,220,0.99);
}
.ABB_I{
background-color:rgba(255,165,220,0.7);
}
.O{}